@import './base.css';

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  font-style: normal;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: "Times New Roman", serif;
  line-height: 15px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #161613;
}

p {
  font-size: 20px;
  font-family: "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  text-decoration: none;
  text-transform: none;
  color: #535350;
}

.icon {
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin-right: 10px;
}






